[wp="yd-pop-box"]{
    position: absolute;
    position:fixed;
    left:0;
    right:0;
    top:0;
    bottom: 0;
    z-index:9999;
    background-color:rgba(0,0,0,0.4);
    display: none;
}
[wp="yd-pop-box"] .c{
    width:100%;
    height:100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}
[wp="yd-pop-box"] .bd,
[wp="yd-pop-box"] [wp="wpdom"]{
    width:6.68rem;
    margin:0 auto;
    -webkit-align-self: center;
    -moz-align-self: center;
    -o-align-self: center;
    -ms-align-self: center;
    align-self: center;
    position: relative;
    min-height:2rem;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    background-color: #f8f8f8;
    border: 1px solid #f8f8f8;
    border-radius: 0.18rem;
}
/*
[wp="yd-pop-box"] [wp="wpdom"]:before{
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    content:"";
    background-size: 100% 100%;
    z-index:1;
}
*/

[wp="yd-pop-box"] [wp="wpdom"] .close{
    position: absolute;
    width: 0.8rem;
    height: 0.8rem;
    right: -0.3rem;
    top: -0.3rem;
    background-size: 100% 100%;
    cursor:pointer;
    z-index:3;
    display: none;
}
[wp="yd-pop-box"] .content{
    -webkit-align-self: center;
    -moz-align-self: center;
    -o-align-self: center;
    -ms-align-self: center;
    width:100%;
    position: relative;
}
[wp="yd-pop-box"] .content::after{
    position: absolute;
    left: 50%;
    top: -0.6rem;
    margin-left: -1.5rem;
    width: 3rem;
    height: 1.2rem;
    content: "";
    background: url(../images/dialog_success_hd.png) center center no-repeat;
    background-size: auto 100%;
}
[wp="yd-pop-box"] .content .body{
    color:#464646;
    font-size:0.68rem;
    width:80%;
    margin:0 auto;
    line-height:1.38;
    text-align: left;
    padding: 1rem 0 0.4rem;
    font-size:0.4rem;
}
[wp="yd-pop-box"] .content .body>.num{
    text-align:center;
    font-weight:bold;
    margin:0.4rem 0;
}

[wp="yd-pop-box"] .btn{
    width: 100%;
    text-align: center;
}
[wp="yd-pop-box"] .btn .col{
    -webkit-flex:1;
    flex: 1; 
    -webkit-align-self: center;
    -moz-align-self: center;
    -o-align-self: center;
    -ms-align-self: center;
    align-self: center; 
}
[wp="yd-pop-box"] .btn .col:first-child{
    border-right:1px solid #eaeaea;
}
[wp="yd-pop-box"] .btn .col:last-child{
    background-color: #f75757;
    color:#fff;
}
[wp="yd-pop-box"] .btn .col span{
    display:block;
    padding:0.3rem 0.4rem;
    color:#333;
    border-radius:0.6rem;
    cursor:pointer;
    font-size:0.38rem;
}
[wp="yd-pop-box"] .btn .col:last-child span{
    color:#fff;
}
[wp="yd-pop-box"] [wp="wpdom"].confirm .btn{
    display:block;
}
[data-alert="true"]{
    z-index:10000;
}
/*************************** loading start *******************/
.loading {
    position: absolute;
    position:fixed;
    left:0;
    right:0;
    top:0;
    bottom: 0;
    z-index:9999;
}
.loading .bg{
    position: absolute;
    position:fixed;
    left:0;
    right:0;
    top:0;
    bottom: 0;
}
.loading .c{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    height:100%;
    background-color:rgba(0,0,0,0.5);
}
.loading .c .body{
    -webkit-align-self: center;
    -moz-align-self: center;
    -o-align-self: center;
    -ms-align-self: center;
    padding: 1.1rem 0.4rem;
    border-radius: 0.4rem;
    margin: 0 auto;
    width:5rem;
    background-color:#fff;
}
.loading .c .body .img{
    width: 1.2rem;
    height: 1.2rem;
    margin: 0 auto;
    background: url(../images/loading.gif) center center no-repeat;
    background-size: 100% 100%;
}
.loading .c .body .text{
    color: #323232;
    text-align: center;
    padding: 0.3rem 0 0;
    font-size: 0.48rem;
}
.loading.hasText .c .body{
    padding: 1.1rem 0.4rem 0.5rem;
}
.loading.hasText .c .body .text{
    padding: 0.1rem 0 0;
}
.invisible{
    display:none;
}
/************************loading end*************************/


.wploading{
    display: -webkit-flex;
    display: flex;
}
.wploading .text{
    margin:0 auto;
    -webkit-align-self: center;
    -moz-align-self: center;
    -o-align-self: center;
    -ms-align-self: center;
    align-self: center;
    font-size: 18px;
    color:#888;
}
.wploading .text i {
    width: 20px;
    height: 20px;
    display: inline-block;
    background: url(../images/loading.gif) center center no-repeat;
    background-size: 100% 100%;
    vertical-align: middle;
    margin-right:6px;
}
.wploading .text span{
    vertical-align: middle;
    font-size:0.36rem;
}
