
.ghhyk-html,
.etcyfk-html{
    display: none;
}
.introduce .content{
    padding: 0.44rem;
}
.introduce .content p{
    text-indent: 2em;
    line-height: 1.8;
    font-size:0.36rem;
    color: #353434;
}
