body{
    background-color:#f4f4f4;
}
.form{
    margin:0.8rem 0;

}
.form li{
    padding: 0.32rem 0.44rem;
    margin-bottom:0.2rem;
    background: #fff; 
}
.form li:last-of-type{
    border-bottom: none;
}
.form li.w{
    display: -webkit-flex;
    display: flex;
   -webkit-flex-direction: row;
    flex-direction: row;
}
.form li label{
    display:inline-block;
    min-width:10em;
    font-size:0.4rem;
    color:#21282e;
    text-align:right;
    padding-right:0.4rem
}
.form li input{
    color:#21282e;
    font-size:0.4rem;
    text-align: left;
    flex :1;
    text-overflow:ellipsis;
    overflow:hidden;
}
.btn-danger{
    background-color: #0ba4f4;
    border-radius:0.1rem;
    color:#fff;
    padding:0.35rem 0;
    margin:0 0.44rem;
    text-align: center;
    font-size:0.44rem;
    margin-bottom:0.2rem;
    transition:background-color 0.3s;
    cursor:pointer;
}
.btn-danger:active{
    background-color: #0090db;
}
.tips{
    padding:0 0.44rem;
    font-size:0.32rem;
    color: #f5484e;
}




