body{
    background-color:#f4f4f4;
}

/* 登录模块 start */
.login-box h2{
    padding:0.4rem 0;
}
.login-box h2 span{
    display:block;
    width:2.2rem;
    height:2.2rem;
    margin:0 auto;
    background: url(../images/icon-gjj.png) center center no-repeat;
    background-size: 100% 100%;
}
.login-box .form{
    margin-bottom:0.6rem;
}
.form li{
    padding: 0.32rem 0.44rem;
    background-color: #fff;
	margin-bottom:0.2rem;
}
.form li:last-of-type{
    border-bottom: none;
}
.form li.w{
    display: -webkit-flex;
    display: flex;
   -webkit-flex-direction: row;
    flex-direction: row;
}
.form li label{
    display:inline-block;
    width:2.5rem;
    font-size:0.4rem;
    color:#21282e;
}
.form li input{
    color:#21282e;
    font-size:0.4rem;
    text-align: left;
    flex :1;
    text-overflow:ellipsis;
    overflow:hidden;
}
.btn-primary{
    background-color: #0ba4f4;
    border-radius:0.1rem;
    color:#fff;
    padding:0.35rem 0;
    margin:0 0.44rem;
    text-align: center;
    font-size:0.44rem;
    margin-bottom:0.2rem;
    transition:background-color 0.3s;
    cursor:pointer;
}
.btn-primary:active{
    background-color: #0090db;
}
.btn-primary.disable{
    background-color: #a8a8a8;
    cursor:default;
}
.login-box .reset-pass{
    padding:0.2rem 0.44rem;
}
.login-box .reset-pass span{
    color:#0ba4f4;
    font-size:0.34rem;
    cursor:pointer;
}
.login-box .agreement{
    font-size:0.44rem;
    padding:0 0.44rem;
    font-size:0.34rem;
    color:#969696;
}
.login-box .agreement>i{
    display: inline-block;
    width:0.38rem;
    height:0.38rem;
    border: 1px solid #0aa3f3;
    vertical-align: middle;
    cursor:pointer;
}
.login-box .agreement>i.checked{
    background: #0aa3f3 url(../images/checked.png) center center no-repeat;
    background-size: 60% 60%;
}
.login-box .agreement>.txt{
    vertical-align: middle;
    padding-left:0.1rem;
}
.login-box .agreement>.xy{
    vertical-align: middle;
    color:#08a4ee;
    cursor:pointer;
}
/* 登录模块 end */


/* 重置密码模块 start */
.reset-box li{
   padding:0 0.44rem;
}
.reset-box li p{
    display: -webkit-flex;
    display: flex;
    padding:0.2rem 0;
}
.reset-box li p:first-of-type span:first-child{
    flex :1;
    color:#1e2327!important;
}
.reset-box li p:first-of-type span:last-child{
    display:inline-block;
    color:#f00;
}
.reset-box li p:last-of-type input{
    flex :1;
    line-height:1;
}
.reset-box li p:last-of-type .btn{
    text-align:center;
    padding:0.12rem 0; 
    width:2.2rem;
    border:1px solid #0ba4f4;
    background-color: #0ba4f4;
    color:#fff;
    border-radius : 0.08rem;
    cursor:default;
}
.reset-box li p:last-of-type .btn-time{
    color:#0ba4f4;
    background-color: #fff;
}
.reset-box .reset-tips{
    margin-top:0.48rem;
    color:#e75b44;
    padding:0.2rem 0.44rem;
}
/* 重置密码模块 end */

/* 使用协议模块 start */
.protocol-box{
    padding:1.78rem 0.44rem;
}
.protocol-box .bd{
    background:#fff;
    padding: 0.28rem;
}
.protocol-box .bd p{
    line-height:1.28;
    padding:0.2rem 0;
    font-size:0.38rem;
    color:#464646;
}
.protocol-box .bd p>strong{
    color:#000;
    font-weight:bold;
}
/* 使用协议模块 end */

.rz-box{
    padding:2rem 0.44rem;  
}
.rz-box p{
    font-size:0.44rem;
    line-height:1.68;
}
.rz-box p .btn{
    margin:0;
    display: inline-block;
    padding:0.08rem 0.2rem;  
}




