body{
    background-color: #f1f1f1;
}
.yd-bd {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
}
.search{
    padding:0.2rem 0.44rem;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
}
.search input{
    background:#fff;
    -webkit-flex: 1;
    flex: 1;
    padding:0 0.4rem;
    border-radius:0.1rem;
    font-size:0.4rem;
}
.search button{
    background-color:#47a2ff;
    margin-left:0.2rem;
    color:#fff;
    padding:0.28rem 0.4rem;
    transition: background-color 0.3s;
    border-radius:0.1rem;
    font-size:0.4rem;
    cursor:pointer;
}
.search button:active{
    background-color:#1187ff;
}


.list-view{
    background-color: #fff;
   -webkit-flex:1;
    flex: 1;
    overflow:auto;
    overflow-x:hidden;
    -webkit-overflow-scrolling: touch;
    -moz-overflow-scrolling: touch;
    -o-overflow-scrolling: touch;
    overflow-scrolling: touch;
}
.list-view li{
    padding: 0.35rem 0.44rem;
    border-bottom:1px solid #eaeaea;
    font-size:0.42rem;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    color:#323232;
}
.list-view li:active{
    background-color:#f8f8f8;
}
.list-view li .name{
    text-align: left;
    display: inline-block;  
    -webkit-align-self: center;
    -moz-align-self: center;
    -o-align-self: center;
    -ms-align-self: center;
    align-self: center;
    -webkit-flex:1;
    flex: 1;
}
.list-view li .section{
    -webkit-flex: 1.2;
    flex: 1.2;
    text-align: center;
    padding:0 0.2rem;
    -webkit-align-self: center;
    -moz-align-self: center;
    -o-align-self: center;
    -ms-align-self: center;
    align-self: center;
}
.list-view li .telphone{
    text-align: right;
    -webkit-align-self: center;
    -moz-align-self: center;
    -o-align-self: center;
    -ms-align-self: center;
    align-self: center;
    -webkit-flex:1;
    flex: 1;
    color:#323232;
}
.list-view li.loadMoreRow{
    padding:0;
    border-bottom:none;
}
.list-view li .loadMore {
    width:100%;
    padding:0.3rem 0.6rem;
    font-size:0.36rem;
    color:#646464;
    text-align: center;
    border-bottom:1px solid transparent;
    -webkit-align-self: center;
    -moz-align-self: center;
    -o-align-self: center;
    -ms-align-self: center;
    align-self: center;
    text-align: center;
}
.list-view li .loadMore i{
    display: inline-block;
    width: 0.38rem;
    height: 0.38rem;
    background: url(../images/icon-loading.gif) center center no-repeat;
    background-size: 100% 100%;
    margin-right: 0.1rem;
    vertical-align: middle;
}
.list-view li .loadMore span{
    vertical-align: middle;  
}

.dialog{
    position: absolute;
    position:fixed;
    left:0;
    right:0;
    top:1.44rem;
    bottom: 0;
    z-index:9999;
    display:none;
}
.dialog .bg{
    position: absolute;
    position:fixed;
    left:0;
    right:0;
    top:1.44rem;
    bottom: 0;
    background-color:rgba(0,0,0,0.4);
}
.dialog .c{
    height:100%;
}
.dialog .body{
    position: relative;
    z-index:100;
    width:100%; 
}
.dialog .body .content{
    color:#333;
    background:#fff;
    padding:0.5rem 0.4rem 1rem;
    max-height:8rem;
    overflow:auto;
    -webkit-overflow-scrolling: touch;
    -moz-overflow-scrolling: touch;
    -o-overflow-scrolling: touch;
    overflow-scrolling: touch;
}
.dialog .body .content .item{
    display:inline-block;
    color:#333;
    border:1px solid #dcdcdc;
    padding:0.15rem 0.3rem;
    border-radius:0.1rem;
    font-size: 0.42rem;
    margin-right:0.12rem;
    cursor:pointer;
    transition:background-color 0.3s;
    margin-bottom:0.2rem;
}
.dialog .body .content .item:active{
     background-color: #fafafa;
}
.dialog .body .content .item.selected{
     border-color: #48a3ff;
     color:#48a3ff;
}
.dialog .body .btn-cancel{
    height:1.2rem;
    line-height:1.2rem;
    background-color:#fff;
    text-align: center;
    color:#333;
    font-size:0.48rem;
    cursor:pointer;
}




/*!
 * animate.css -http://daneden.me/animate
 * Version - 3.5.1
 * Licensed under the MIT license - http://opensource.org/licenses/MIT
 *
 * Copyright (c) 2016 Daniel Eden
 */

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.animatedWpq {
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.animatedSlow {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.animatedFast {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.animated.hinge {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}

@-webkit-keyframes zoomOut {
  from {
    opacity: 1;
  }

  50% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  to {
    opacity: 0;
  }
}

@keyframes zoomOut {
  from {
    opacity: 1;
  }

  50% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  to {
    opacity: 0;
  }
}

.zoomOut {
  -webkit-animation-name: zoomOut;
  animation-name: zoomOut;
}


.yd-pop-box{
    position: absolute;
    position:fixed;
    left:0;
    right:0;
    top:0;
    bottom: 0;
    z-index:9999;
    background-color:rgba(0,0,0,0.2);
    display:none;
}
.yd-pop-box .c{
    width:100%;
    height:100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}
.yd-pop-box .bd,
.yd-pop-box [wp="wpdom"]{
    width:6.68rem;
    margin:0 auto;
    -webkit-align-self: center;
    -moz-align-self: center;
    -o-align-self: center;
    -ms-align-self: center;
    align-self: center;
    position: relative;
    min-height:2rem;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    background-color: #f8f8f8;
    border: 1px solid #f8f8f8;
    border-radius: 0.25rem;
}
.yd-pop-box [wp="wpdom"]:before{
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    content:"";
    background-size: 100% 100%;
    z-index:1;
}

.yd-pop-box [wp="wpdom"] .close{
    position: absolute;
    width: 0.8rem;
    height: 0.8rem;
    right: -0.3rem;
    top: -0.3rem;
    background-size: 100% 100%;
    cursor:pointer;
    z-index:3;
}
.yd-pop-box .content{
    -webkit-align-self: center;
    -moz-align-self: center;
    -o-align-self: center;
    -ms-align-self: center;
    width:100%;
    position:relative;
    z-index:4;
}
.yd-pop-box .content .text{
    color:#464646;
    font-size:0.68rem;
    width:80%;
    margin:0 auto;
    line-height:1.38;
    text-align: center;
    padding:0.6rem 0;
}

.yd-pop-box .btn{
    width: 100%;
    text-align: center;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    border-top:1px solid #eaeaea;
}
.yd-pop-box .btn .col{
    -webkit-flex:1;
    flex: 1; 
    -webkit-align-self: center;
    -moz-align-self: center;
    -o-align-self: center;
    -ms-align-self: center;
    align-self: center; 
}
.yd-pop-box .btn .col:first-child{
    border-right:1px solid #eaeaea;
}
.yd-pop-box .btn .col span{
    display:inline-block;
    padding:0.3rem 0.4rem;
    color:#333;
    border-radius:0.6rem;
    cursor:pointer;
    font-size:0.38rem;
}

.yd-pop-box [wp="wpdom"].alert{
    padding: 0.8rem 0 0.8rem;
}
.yd-pop-box [wp="wpdom"].alert .btn{
    display:none;
}
.yd-pop-box [wp="wpdom"].confirm .btn{
    display:block;
}